#navbar {
  height: 100px;
  width: 100%;
  background-color: #4c1d95;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}

#navbar h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#navbar-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

#navbar a:hover {
  color: #888;
}

#btnMobile {
  font-size: 1.875rem;
  line-height: 2.25rem;
  cursor: pointer;
  display: none;
  align-items: center;
  color: #fff;
}

@media (max-width: 768px) {
  #navbar {
    justify-content: space-evenly;
  }

  #navbar-list {
    display: block;
    position: absolute;
    visibility: hidden;
    height: 100vh;
    width: 100%;
    top: 0; right: -360px;
    background-color: #4c1d95;
    z-index: 2;
    transition: .6s;
    overflow-y: hidden;
    padding-top: calc(55%);
  }

  #navbar-links li{
    text-align: center;
    padding: 1em 0px;
    margin: 0px 1em;
  }

  #navbar.active #navbar-list{
    display: block;
    right: 0;
    visibility: visible;
  }

  #menuMobile {
    z-index: 3;
  }

  #btnMobile {
    display: flex;
  }
}