#navbar {
  height: 100px;
  width: 100%;
  background-color: #4c1d95;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.3);
}

#navbar h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

#navbar-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

#navbar a:hover {
  color: #888;
}

#menuMobile {
  display: none;
}

#btnMobile {
  font-size: 1.875rem;
  line-height: 2.25rem;
  cursor: pointer;
  align-items: center;
  color: #fff;
}

@media (max-width: 768px) {
  #navbar {
    justify-content: space-evenly;
  }

   #navbar-list {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    visibility: hidden;
    height: 100vh;
    width: 0;
    top: 0; right: 0;
    background-color: #4d1d95;
    z-index: 2;
    transition: .6s;
    overflow: hidden;
  }

  #navbar-links li{
    text-align: center;
    padding: 1em 0px;
    margin: 0px 1em;
  }

  #navbar.active #navbar-list{
    width: 100%;
    visibility: visible;
  }

  #menuMobile {
    display: flex;
    z-index: 3;
  }

  #btnMobile {
    display: flex;
  }
}