#navbar {
  height: 100px;
  width: 100%;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 35px 60px -15px rgba(0, 0, 0, 0.2);
  transition: .5s;
  z-index: 1000;
}

#navbar h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.navbar-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

#navbar a:hover {
  color: var(--light-main);
}

.menuMobile {
  display: none;
}

.btnMobile {
  font-size: 1.875rem;
  line-height: 2.25rem;
  cursor: pointer;
  align-items: center;
  color: var(--white);
}

@media (max-width: 768px) {
  #navbar {
    justify-content: space-evenly;
  }

   .navbar-list {  
    display: block;  
    justify-content: center;
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 100%;
    top: 100px; right: 0;
    background-color: rgb(76, 29, 149, .5);
    z-index: 2;
    transition: .6s;
    overflow: hidden;
  }

  .navbar-links li{
    padding: 1em 0px;
    margin: 0px 1em;
    border-bottom: 2px solid rgb(98, 0, 245);
  }

  #navbar.active .navbar-list{
    height: calc(70vh - 100px);
    visibility: visible;
  }

  .menuMobile, .btnMobile {
    display: block;
    z-index: 3;
  }
}