#about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
  gap: 100px;
}

#about img {
  max-width: 530px;
  width: 100%;
}

.about-intro {
  line-height: 2em;
}

.about-intro small {
  color: #4c1d95;
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
}

.about-intro h2 {
  color: #2e2e2e;
  text-transform: capitalize;
  font-size: 1.5em;
}

.about-intro span {
  color: #36097e;
}

.about-intro h2::after {
  content: " ";
  display: block;
  width: 50px;
  left: 25px;
  height: 2px;
  background: #36097e;
  transform: translate(-50%, -50%);
  position: relative;
  margin: 15px 0;
}

.about-content p {
  margin-bottom: 30px;
}

.soft-skills {
  display: flex;
  gap: 20px;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
}

.circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.circle circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  stroke: #fff;
  transform: translate(5px, 5px);
}

.circle circle:nth-child(2) {
  stroke: #36097e;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
}

.percent {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

