#about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  gap: 100px;
}

#about img {
  max-width: 530px;
  width: 100%;
}

.about-intro {
  line-height: 2em;
}

.about-intro small {
  color: var(--main-color);
  font-weight: 800;
  font-size: .8em;
  text-transform: uppercase;
}

.about-intro h2 {
  color: var(--dark-text);
  text-transform: capitalize;
  font-size: 1.5em;
}

.about-intro span {
  color: var(--main-color);
}

.about-intro h2::after {
  content: " ";
  display: block;
  width: 50px;
  left: 25px;
  height: 2px;
  background: var(--main-color);
  transform: translate(-50%, -50%);
  position: relative;
  margin: 15px 0;
}

.about-content p {
  margin-bottom: 30px;
  color: var(--light-text);
}

.soft-skills {
  display: flex;
  gap: 20px;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
}

.circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.circle circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 5;
  stroke: var(--main-color);
  stroke-dasharray: 440;
  transform: translate(5px, 5px);
}

.percent {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  #about {
    flex-direction: column;
    text-align: center;
  }

  .about-content p {
    max-width: 500px;
    width: 100%;
    margin: 25px auto;
  }

  .about-intro h2::after {
    left: 50%;
    width: 150px;
  }

  .soft-skills {
    justify-content: center;
  }
}

@media (max-width: 596px) {
  .soft-skills {
    flex-direction: column;
    align-items: center;
  }
}