#container {
  height: 820px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container h1{
  margin: 20px 0 10px 0;
  color: #222;
  font-size: 1.875em;
}

#container p {
  color: #555;
  word-wrap: break-word;
  word-break:keep-all;
  max-width: 500px;
  width: 100%;
}

#home-image{
  max-width: 350px;
  width: 100%;
}

@media (max-width: 480px) {
  #content h1 {
    font-size: 6.2vw;
  }

  #content p {
    font-size: 3.3vw;
  }
}