#home-container {
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#container h1{
  margin: 20px 0 10px 0;
  color: #222;
  font-size: 1.875em;
}

#container p {
  color: #555;
  word-wrap: break-word;
  word-break:keep-all;
  max-width: 500px;
  width: 100%;
  margin-bottom: 10px;
}

#home-image{
  max-width: 350px;
  width: 100%;
}

#social-medias {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

#social-medias a {
  width: 40px;
  height: 40px;
  background-color: #c8c8c8;  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: #111827;
}

#social-medias a:hover {
  transform: scale(1.2);
}

#homeBtn {
  display: flex;
  gap: 1.25em;
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

#homeBtn a {
  background-color: #4c1d95;
  padding: .75em 3em;
  border-radius: 1em;
  transition: .3s;
}

#homeBtn a:hover {
  transform: scaleX(1.1);
}

#homeBtn a:last-child {
  background-color: #e4e4e7;
  color: #000;
}

#homeBtn a:last-child:hover {
  background-color: rgb(212 212 216);
}

@media (max-width: 768px) {
  #social-medias {
    display: none;
  }
}

@media (max-width: 480px) {
  #content h1 {
    font-size: 6.2vw;
  }

  #content p {
    font-size: 3.3vw;
  }

  #homeBtn {
    font-size: 3.6vw;
    flex-direction: column;
  }
}